@import 'bulma/css/bulma.min.css';

html, body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: "Anek Tamil", sans-serif;
}

body {
  background: #f5ebb4;
  padding-bottom: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Anek Tamil", sans-serif;
  font-weight: 600;
}

.card {
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  font-family: "Anek Tamil", sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.button {
  font-family: "Anek Tamil", sans-serif;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  transition: background-color 0.3s ease;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title, .subtitle {
  font-family: "Anek Tamil", sans-serif;
}

.blog-title {
  font-family: "Anek Tamil", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
}

.post-title {
  font-family: "Anek Tamil", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #222;
}

.post-content {
  font-family: "Anek Tamil", sans-serif;
  font-size: 1em;
  color: #555;
  line-height: 1.6;
}

.pagination-container {
  font-family: "Anek Tamil", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
  text-align: center;
}

.pagination-button {
  font-family: "Anek Tamil", sans-serif;
  background-color: #691405;
  color:#f7ffc8;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.page-number {
  font-size: 1.3rem;
  font-weight: 600;
  color: #444;
}

.read-button {
  font-family: "Anek Tamil", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0f0d13;
  color:#f7ffc8;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.copy-btn {
  position: absolute;
  top: 5px;
  right: 1px;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  color: rgb(206, 203, 36);
  cursor: pointer;
  font-family: "Catamaran", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  transition: transform 0.3s ease;
  z-index: 10;
}

.copy-btn:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .copy-btn {
    top: 5px;
    right: 1px;
    padding: 6px 10px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .copy-btn {
    top: 5px;
    right: 1px;
    padding: 5px 8px;
    font-size: 1rem;
  }
}
.notification.custom-notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(20, 20, 20, 0.85);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  font-family: "Anek Tamil", sans-serif;
  font-size: 1rem;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.notification.custom-notification.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}