---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link href="/192.png" rel="icon" sizes="192x192" type="image/png">
  <link href="/180.png" rel="apple-touch-icon">
  <title>Daily родрооро┐ро┤рпН роХро╡ро┐родрпИроХро│рпН ЁЯУЪ</title>
  <meta name="description" content="Daily родрооро┐ро┤рпН роХро╡ро┐родрпИроХро│рпН and Tamil Quotes Collections.">
  <link rel="canonical" href="https://kavithai.searchquotes.quest/">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&display=swap" rel="stylesheet">
</head>
<body>

  <section class="section">
    <div class="container has-text-centered">
      <h1 class="title has-text-dark">Daily роХро╡ро┐родрпИроХро│рпН ЁЯУЪ</h1>
      <p class="has-text-dark">and Tamil Quotes Collections.</p>
      <br />
      <a href="/1/" class="button is-warning has-text-dark" data-astro-prefetch="tap">роорпЗро▓рпБроорпН рокроЯро┐роХрпНроХ</a>
    </div>
  </section>

</body>
</html>